@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
    --title-color: #444;
    --transition_speed: 2s;
}



// UTILITY CLASSES
.align_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.direction_column {
    display: flex;
    flex-direction: column;
}

.pass_strength {
    div {
        div:nth-child(odd) {
            height: 10px !important;
            width: 100px;
        }
    }
}

.full_screen {
    height: 100%;
    width: 100%;

    position: relative;

    .form_container {
        max-height: 600px;
        width: 80%;
        max-width: 400px;
        

        div {
            width: 100%;
        }

        label {
            font-weight: 600;
        }

        input {
            border: 1px #6c7073 solid;
        }

        .title {
            font-weight: 800;
            margin-bottom: 30px;
        }

        .btn {
            font-weight: 700;
            font-size: 20px;
        }
    }
}



.only_on_large_screens {
    display: none;
}

@media only screen and (min-width: 300px) {
    .full_screen::before {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 50%;
        height: 100%;
        border-radius: 0 0 100% 0;
        background-color: #5995fd;
        z-index: -20;
    }
}

@media only screen and (min-width: 1000px) {
    .only_on_large_screens {
        display: block;
    }

    .full_screen {
        position: relative;
        background-color: transparent;

        .on_large_screens_img {
            position: absolute;
            bottom: 0;
            left: 0%;
            width: 50%;
            z-index: -10;
            transform: translateX(-1000%);
            animation: from_side_to_center var(--transition_speed) 1s forwards;
        }

        .left_upper_corner_text {
            position: absolute;
            top: 10%;
            left: 0%;

            color: white;
            text-align: center;

            width: 500px;

            transform: translateX(-1000%);
            animation: from_side_to_center var(--transition_speed)  forwards;

            h1 {
                font-weight: 800;
                letter-spacing: 2px;
            }

            p {
                font-size: 25px;
            }
        }

        .form_container {
            transition: all var(--transition_speed) linear;
            transform: translateX(1000%);
            animation: from_side_to_center_form var(--transition_speed) 1s forwards;

        }
    }
}

@media only screen and (min-width: 1100px) {
    .full_screen {
        .left_upper_corner_text {
            left: 5%;
        }
    }
}

// ANIMATION
@keyframes from_side_to_center {
    100% {
        transform: translateX(0%);
    }     
}
@keyframes from_side_to_center_form {
    100% {
        transform: translateX(70%);
    }     
}