:global {
    .pro-sidebar-header {
        background-color: #5995fd;
    }
    .pro-sidebar-content {
        background-color: #5995fd;
    }
    .pro-inner-list-item {
        background-color: #5995fd !important;
    }
}
