section {
    .image_size {
        width: 30% !important ;
        margin-left: 5%;
        margin-bottom: 2%;
    }
}

@media only screen and (min-width: 1600px) {
    section {
        .image_size {
            width: 25% !important ;
            margin-left: 5%;
            margin-bottom: 1%;
        }
    }

    .left_corner_upper_text {
        h1 {
            font-size: 60px !important;
        }
    }
}